#blurb_container {
    margin: var(--mar-mobile);
    padding-block: 5rem;
}

#blurb_wrapper {
    background-color: var(--clr-lavender);
    border-radius: 0.5rem;
    padding: 2rem 2rem 6rem 2rem;
}

#blurb_title {
    color: var(--clr-dark-purple);
    font-size: clamp(1.5rem, 1.5rem + 1vw, 2.5rem);
}

#blurb_wrapper>p {
    color: var(--clr-dark-purple);
    font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
}

#tech_bundle {
    float: right;
    width: clamp(10rem, 5rem + 20dvw, 20rem);
    margin-top: -4rem;
}

@media only screen and (min-width: 768px) {
    #blurb_container {
        margin: var(--mar-tablet);
    }

    #blurb_wrapper {
        margin-right: 7rem;
        padding: 4rem 2rem;
    }
}

@media only screen and (min-width: 1440px) {
    #blurb_container {
        margin: var(--mar-desktop);
        max-width: var(--wid-max);
    }
}