#blurb_container {
    margin: var(--mar-mobile);
    padding-top: 5rem;
}

#blurb_wrapper {
    background-color: var(--clr-lavender);
    border-radius: 0.5rem;
    padding-block: 1rem;
    margin-right: 5rem;
}

#blurb_wrapper>p {
    color: var(--clr-dark-purple);
    padding-inline: 1rem;
}

#tech_bundle {
    float: right;
    transform: translateX(5rem);
    width: clamp(10rem, 5rem + 20dvw, 20rem);
}

@media only screen and (min-width: 768px) {
    #blurb_container {
        margin: var(--mar-tablet);
    }
}

@media only screen and (min-width: 1440px) {
    #blurb_container {
        margin: var(--mar-desktop);
        max-width: var(--wid-max);
    }
}