#home_hero_container {
    display: grid;
    grid-template-areas: 
        "headshot"
        "about";
    width: 100%;
}


#headshot_lookup {
    display: none;
}

#headshot_wrapper img {
    width: 100%;
    object-fit: cover;
}

#about_me_container {
    grid-area: about;
    z-index: 2;
}

#about_me_container p {
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
    border-left: solid 0.125rem var(--clr-raspberry);
    border-right: solid 0.125rem var(--clr-raspberry);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: var(--mar-mobile);
    margin-block: 1rem;
    font-style: italic;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #headshot_lookup {
        display: block;
    }

    #home_hero_container {
        display: grid;
        grid-template-areas: "headshot about";
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
    }

    .headshot,
    #headshot_wrapper {
        grid-area: overlap;
    }

    #headshot_container {
        display: grid;
        grid-template-areas: "overlap";
        width: 100%;
        aspect-ratio: 1;
    }

    #headshot_wrapper {
        display: grid;
        overflow: hidden;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
        transition: transform var(--td-quick) var(--ef-bounce-s),
            clip-path var(--td-quick) var(--ef-bounce-s),
            border-radius var(--td-quick) var(--ef-bounce-s);
        border-radius: 0 50% 50% 0%;
    }

    #headshot_wrapper img {
        width: 120%;
        height: 120%;
        object-fit: cover;
        transform: translate(-10%, -10%);
        transition: transform var(--td-quick) var(--ef-bounce-s);
    }

    #headshot_wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--clr-raspberry);
        mix-blend-mode: multiply;
        opacity: 0;
        transition: opacity var(--td-quick) var(--ef-bounce-s);
    }

    #about_me_container p {
        font-weight: 800;
        padding: 0 4rem 0 2rem;
        border: none;
        margin: none;
        font-style: normal;
        text-align: left;
    }

    #home_hero_container:hover #headshot {
        opacity: 0;
    }

    #home_hero_container:hover img {
        transform: translate(6%, -5%);
    }

    #home_hero_container:hover #headshot_wrapper {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        transform: translateX(25%);
        transition-timing-function: var(--ef-bounce-r);
        border-radius: 0;
    }

    #home_hero_container:hover #headshot_wrapper::after {
        opacity: 1;
    }
}

@media only screen and (min-width: 1440px) {
    #home_hero_container {
        margin: var(--mar-desktop);
        max-width: var(--wid-max);
    }
}