#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

#site_title {
    font-size: var(--fs-l);
    font-family: var(--ff-sans-serif);
    line-height: var(--lh-s);
    color: var(--clr-lavender);
    cursor: pointer;
}

#site_title:hover {
    color: var(--clr-raspberry);
}

#site_subtitle {
    font-size: var(--fs-r);
    font-family: var(--ff-sans-serif);
    font-weight: var(--fw-regular-400);
}

@media only screen and (min-width: 768px) {
    #navbar {
        align-items: end;
    }
}